/*header part*/
.left-part {
    text-align: left;
}

.banner {
    display: flex;
    justify-content: space-between;
    /*padding: 197px 240px 240px 240px;*/
}


body {
    font-family: 'Lato', sans-serif;
}

.header {
    max-width: 1920px;
    background-color: #E554731A;
    padding: 190px 240px 365px 240px;
}

.first-img {
    margin-top: -40px;
    margin-left: 90px;
}

.header-title {
    width: 708px;
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 32px;
}

.paragraph {
    margin-right: 170px;
    margin-top: 0px;
    max-width: 634px;
    font-size: 18px;
    color: #27272799;
    font-weight: 400;
    line-height: 30px;
}

.btn-primary {
    margin-top: 0px;
    border-radius: 8px;
    background: #E55473;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
    border: 0;
    gap: 10px;
}

/* main section*/
.feature-title {
    margin-top: 178px;
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 0px;
}

.para {
    margin-left: 530px;
    text-align: center;
    max-width: 590px;
    color: #27272799;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

main section {
    margin-top: 128px;
}

.rectangles {
    display: flex;
}

.featured {}

.one {
    /* margin-left: 20px;
    margin-right: 140px;*/
    margin-top: 110px;
    padding: 110px 78px 0px 75px;

}

.two {
    margin-right: 140px;
    padding: 117px 47px 57px 47px;
}

.three {
    margin-left: 0px;
    padding: 67px 75px 0px 75px;
}

#rec1 {
    background-image: url(Rectangle\ 3.png);
    background-repeat: no-repeat;
    border-radius: 300px 300px 0px 0px;
    background: #A7216226;
    margin-right: 24px;
    margin-left: 100px;
}

#rec2 {
    background-image: url(Rectangle\ 3.png);
    background-repeat: no-repeat;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    margin-left: 0px;
    margin-right: 24px;
}

#rec3 {
    background-image: url(Rectangle\ 3.png);
    background-repeat: no-repeat;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    margin-left: 0px;
    margin-right: 50px;
}

.name-of-flowers {
    padding: 32px 120px 128px 81px;
    display: flex;
    justify-content: space-around;
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}
.a{
    margin-top:32px;
    margin-bottom: 128px;
    margin-right: 107px;
    margin-left: 80px;
}
.b{
    margin-top:32px;
    margin-bottom: 128px;
    margin-right: 250px;
    margin-left: 0px;
}
.c{
    margin-top:32px;
    margin-bottom: 128px;
    margin-left: 0px;
    margin-right: 380px;
}